.vertical-center
    margin 0 auto
    position relative
    top 50%
    transform translateY(-50%)
.left
    float left
.right
    float right
.item-title
    height 32px
    line-height 32px
    margin-bottom 10px
    background-color #eee